.header {
  display: flex;
  align-items: center;
  padding-inline: clamp(0.5rem, 3vw, 2rem);
  padding-block: clamp(0.5rem, 2vw, 1rem);
  background-color: white;
}

.rotateRight {
  rotate: 90deg;
}

.rotateLeft {
  rotate: -90deg;
}

.header img {
  max-height: 100px;
  height: clamp(50px, 8vw, 70px);
  width: 100%;
  transition: 600ms cubic-bezier(.17, .67, .31, 1.23);
}

.nav {
  margin-left: auto;
}

.nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 8, 31);
  color: white;
  height: 3rem;
  border-radius: 0.5rem;
  padding-inline: 1rem;
  transition: 300ms;
}


.nav a:hover {
  background-color: #93ad18;
}

.nav a svg {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  transition: 600ms cubic-bezier(.17, .67, .31, 1.23);
}

.employeesLink svg {
  rotate: 0deg;
}

.homeLink svg {
  rotate: -180deg;
}